/*************

PC VERSION

*************/
@media only screen and (min-width : 421px)
{
	.intro
	{
		text-align : center;
	}

	.intro-left
	{
		width : 50%;
		text-align : center;
		float : left;
	}

	.intro-right
	{
		width : 50%;
		text-align : center;
		float : right;
	}

	.intro-two-columns h1
	{
		color : #FFF;
		margin-top : 0px;
		margin-bottom : 0px;
		font-size : 5em;
		font-family : arial;
	}

	.intro-two-columns .sub-title
	{
		font-size : 1.5em;
		font-weight : bold;
		color : #FFF;
		margin-top : 0px;
		margin-bottom : 0px;
	}

	.intro h1
	{
		color : #FFF;
		margin-top : 0px;
		margin-bottom : 0px;
		font-size : 5em;
		font-family : arial;
	}

	.intro .sub-title
	{
		font-size : 1.5em;
		font-weight : bold;
		color : #FFF;
		margin-top : 0px;
		margin-bottom : 0px;
	}
}

/*************

MOBILE VERSION

*************/
@media screen and (max-width : 420px)
{
	.intro
	{
		height : 100%;
		text-align : center;
	}
	
	.img-center
	{
		height : 50%;
	}
	
	.intro .title-and-sub-title
	{
		height : 50%;
	}
	.intro-left
	{
		text-align : center;
	}

	.intro-right
	{
		text-align : center;
	}

	.intro-two-columns h1
	{
		color : #FFF;
		margin-top : 0px;
		margin-bottom : 0px;
		font-size : 5em;
		font-family : arial;
	}

	.intro-two-columns .sub-title
	{
		font-size : 1.5em;
		font-weight : bold;
		color : #FFF;
		margin-top : 0px;
		margin-bottom : 0px;
	}

	.intro h1
	{
		color : #FFF;
		margin-top : 0px;
		margin-bottom : 0px;
		font-size : 5em;
		font-family : arial;
	}

	.intro .sub-title
	{
		font-size : 1.5em;
		font-weight : bold;
		color : #FFF;
		margin-top : 0px;
		margin-bottom : 0px;
	}
}